body {
  font-family: Arial, Helvetica, sans-serif;
}

.crudHeading {
  text-align: center;
  color: slateblue;
}

html {
  border: 2px solid slateblue;
  max-width: 600px;
  background-color: rgb(208, 202, 247);
  margin: 60px auto;
  border-radius: 7px;
}

.App {
  background-color: white;
  border-radius: 10px;
  border: 2px solid slateblue;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 20px 10px;
}

h2 {
  margin-left: 22px;
}

.label,
label {
  font-size: 1.5rem;
  margin-left: 10px;
}

.table-container {
  border-radius: 5px;
  border: 1px solid black;
  padding: 7px;
  margin: 15px 30px;
  height: 250px;
  overflow: scroll;
  background-color: slateblue;
}

.lineThrough {
  text-decoration: line-through;
  width: 100px;
  padding: 7px 5px;
  font-size: 15px;
}

.notLineThrough {
  text-decoration: none;
  width: 100px;
  padding: 7px 5px;
  font-size: 15px;
}

.check {
  margin: 20px 10px 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.addBug {
  text-align: center;
  color: slateblue;
  margin: 10px 0;
  font-size: 2rem;
}

table {
  border-spacing: 0;
}

th {
  font-size: 1.5rem;
  color: white;
  border-bottom: 2px solid white;
  padding: 17px 18px;
  margin: 0 20px;
}

.bug-list td {
  padding: 7px;
  border-bottom: 1px solid white;
  margin: 0;
}

td.fixed {
  margin: 0 20px;
  padding: 10px 15px;
}

.form-container {
  border: 1px solid black;
  margin: 10px 5px 5px 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: slateblue;
}

.desc-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
}

#description {
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  margin-left: 10px;
  outline: none;
  font-size: 20px;
  border: 1px solid black;
}

::placeholder {
  font-size: 20px;
}

.btnSave {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  margin: 12px;
  right: 0;
  background-color: slateblue;
  font-size: 17px;
  border-radius: 30px;
  border: 1px solid black;
  opacity: 0.8;
}

.btnSave:hover {
  opacity: 1;
  color: white;
  border: 1px solid slateblue;
}

.btnSave:active {
  transform: scale(0.9);
  box-shadow: 0 0 5px slateblue;
}

.notifyInfo,
.notifyWarn {
  font-size: 13px;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}

.delBtn {
  margin-left: 15px;
  padding: 7px 5px;
}

.bug-msg td {
  padding: 30px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {
  html {
    max-width: 500px;
    border-radius: 5px;
  }

  .App {
    border-radius: 7px;
    border: 1px solid slateblue;
    font-size: 15px;
    padding: 7px;
    margin: 15px 7px;
  }

  h1 {
    font-size: 1.7rem;
  }

  .addBug {
    margin: 7px 0;
    font-size: 1.7rem;
  }

  th {
    color: white;
    border-bottom: 1px solid black;
    margin: 0 20px;
    font-size: 1.2rem;
    padding: 12px 15px;
  }

  td {
    padding: 7px;
  }

  .table-container {
    height: 200px;
  }

  .lineThrough {
    width: 80px;
    font-size: 13px;
  }

  .notLineThrough {
    width: 80px;
    font-size: 13px;
  }

  ::placeholder {
    font-size: 17px;
  }

  .input-label {
    margin-top: 15px;
  }

  .check {
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 7px;
  }

  .label {
    font-size: 1.2rem;
    margin-left: 7px;
  }

  .fixedCheck {
    font-size: 1.2rem;
  }

  #description {
    width: 100%;
    padding: 12px;
    margin-left: 10px;
    outline: none;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid black;
  }

  .btnSave {
    width: 45px;
    height: 35px;
    margin: 7px;
    font-size: 12px;
  }

  .delBtn {
    margin-left: 7px;
    padding: 5px;
    font-size: 13px;
  }

  .bug-msg td {
    padding: 30px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    max-width: 440px;
    border-radius: 4px;
  }

  .App {
    border-radius: 5px;
    border: 1px solid slateblue;
    padding: 5px;
    margin: 12px 5px;
  }

  h1 {
    font-size: 1.3rem;
  }

  .addBug {
    margin: 5px 0;
    font-size: 1.3rem;
  }

  th tr {
    width: 400px;
    font-size: 15px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 5px;
  }

  .bug-list td {
    padding: 5px;
    font-size: 13px;
  }

  .table-container {
    height: 170px;
  }

  .lineThrough,
  .notLineThrough {
    width: 60px;
    font-size: 10px;
    padding: 4px 2px;
  }

  ::placeholder {
    font-size: 12px;
  }

  .input-label {
    margin-top: 12px;
  }

  .check {
    width: 13px;
    height: 13px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .label {
    font-size: 1rem;
    margin-left: 5px;
  }

  .fixedCheck {
    font-size: 1rem;
  }

  #description {
    width: 100%;
    padding: 8px;
    margin-left: 8px;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid black;
  }

  .btnSave {
    width: 35px;
    height: 25px;
    margin: 8px;
    font-size: 9px;
  }

  .delBtn {
    margin-left: 5px;
    padding: 4px 2px;
    font-size: 10px;
  }

  .bug-msg td {
    padding: 30px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    max-width: 400px;
    border-radius: 4px;
  }

  .App {
    padding: 3px;
    margin: 8px 3px;
  }

  h1 {
    font-size: 1rem;
  }

  .addBug {
    margin: 3px 0;
    font-size: 1rem;
  }

  th {
    width: 300px;
    font-size: 12px;
    padding: 5px 0;
    margin: 0 3px;
  }

  .bug-list td {
    padding: 2px;
    font-size: 10px;
  }

  .table-container {
    height: 120px;
  }

  .lineThrough,
  .notLineThrough {
    width: 50px;
    font-size: 8px;
    padding: 3px 1px;
  }

  ::placeholder {
    font-size: 10px;
  }

  .input-label {
    margin-top: 10px;
  }

  .check {
    width: 10px;
    height: 10px;
    margin-top: 10px;
    margin-left: 3px;
  }

  .label {
    font-size: 0.8rem;
    margin-left: 3px;
  }

  .fixedCheck {
    font-size: 0.8rem;
  }

  #description {
    width: 100%;
    padding: 5px;
    margin-left: 5px;
    border-radius: 30px;
    font-size: 17px;
    border: 1px solid black;
  }

  .btnSave {
    width: 25px;
    height: 15px;
    margin: 5px;
    font-size: 7px;
  }

  .delBtn {
    margin-left: 5px;
    padding: 3px 1px;
    font-size: 8px;
  }

  .bug-msg td {
    padding: 20px;
    font-size: 10px;
  }
}
