body {
  font-family: Arial, Helvetica, sans-serif;
}

.crudHeading {
  text-align: center;
  color: darksalmon;
}

html {
  border: 2px solid slateblue;
  max-width: 600px;
  background-color: rgb(235, 233, 249);
  margin: 20px auto;
  border-radius: 7px;
}

h2 {
  margin-left: 22px;
}

.input-label {
  margin-left: 20px;
}

.label,
label {
  font-size: 1.5rem;
  margin-left: 10px;
}

.table-container {
  border-radius: 5px;
  border: 1px solid black;
  padding: 7px;
  margin: 15px 30px;
  height: 250px;
  overflow: scroll;
}

.lineThrough {
  text-decoration: line-through;
  width: 100px;
}

.notLineThrough {
  text-decoration: none;
  width: 100px;
}

#description {
  min-width: 300px;
  padding: 10px 5px;
  outline: none;
  border-radius: 7px;
  border: 1px solid black;
}

::placeholder {
  font-size: 20px;
}

.check {
  margin-top: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.addBug {
  text-align: center;
  color: slateblue;
  margin: 10px 0;
  font-size: 2rem;
}

table {
  border-spacing: 0;
}

th {
  font-size: 1.5rem;
  color: slateblue;
  border-bottom: 1px solid black;
  padding: 7px 10px;
}

.bug-list td {
  padding: 7px;
  border-bottom: 1px solid black;
}

td.fixed {
  margin: 0 20px;
  padding: 10px 15px;
}

.App {
  background-color: lightpink;
  border-radius: 10px;
  border: 1px solid slateblue;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 20px 10px;
}

.form-container {
  border: 1px solid black;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.btnSave {
  margin: 20px;
  padding: 7px 10px;
  background-color: rgb(215, 210, 247);
  font-size: 20px;
  border-radius: 7px;
  border: 1px solid black;
  transition: 0.2s all;
  box-shadow: 0 0 10px slateblue;
  opacity: 0.7;
}

.btnSave:hover {
  opacity: 1;
}

.btnSave:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px slateblue;
}

button {
  cursor: pointer;
  padding: 7px 5px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid black;
}

.delBtn {
  margin-left: 15px;
  padding: 7px 5px;
}

@media only screen and (max-width: 800px) {
  html {
    max-width: 500px;
    border-radius: 5px;
  }

  .App {
    border-radius: 7px;
    border: 1px solid slateblue;
    font-size: 15px;
    padding: 7px;
    margin: 15px 7px;
  }

  h1 {
    font-size: 1.7rem;
  }

  .addBug {
    margin: 7px 0;
    font-size: 1.7rem;
  }

  th {
    font-size: 1.2rem;
  }

  td {
    padding: 7px;
  }

  .table-container {
    height: 180px;
  }

  .lineThrough {
    width: 80px;
  }

  .notLineThrough {
    width: 80px;
  }

  button {
    padding: 5px;
    font-size: 10px;
  }

  #description {
    min-width: 200px;
    line-height: 1;
    padding: 7px 5px;
  }

  ::placeholder {
    font-size: 17px;
  }

  .input-label {
    margin-top: 15px;
  }

  .check {
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 7px;
  }

  .label {
    font-size: 1.2rem;
    margin-left: 7px;
  }

  .fixedCheck {
    font-size: 1.2rem;
  }

  .btnSave {
    padding: 5px 7px;
    font-size: 17px;
  }
}
